/* .invoice-title h2, .invoice-title h3 {
    display: inline-block;
} */

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
/* html[lang=ar] .content-body{
    direction : rtl ;
    text-align: right;
} */
.table-bordered {
    table-layout: fixed;
    width: 920px
}
@media print {
    #print-section {
      overflow-y: visible !important;
      overflow-x: visible !important;
      position: relative;
    }
  }
address *{
    font-size: 1rem;
    /* color : red ; */
    line-height: 20px;
} 
.table *{
    font-size: 13px;
}
