
 :host ::ng-deep .datatable-body-cell-label,
 :host ::ng-deep .datatable-header-cell {
   padding: 0.6rem;
   text-align: center;
 }
.btn-secondary{
  background-color: #ff6500!important;
  border-color: #ff6500!important;
  margin: 0px 3px;
}
 
.box-border{
  border : 1px solid rgba(34,36,38,0.1)
}