
 :host ::ng-deep .datatable-body-cell-label,
 :host ::ng-deep .datatable-header-cell {
   padding: 0.6rem;
   text-align: center;
 }
.btn-secondary{
  background-color: #ff6500!important;
  border-color: #ff6500!important;
  margin: 0px 3px;
}
:host ::ng-deep .bg-primary {
  background-color: #ff8b22 !important;
}

:host ::ng-deep .pills .nav .nav-item .nav-link {
  border-radius: 10rem;
  display: inline-block;
  padding: 0.35em 0.4em;
  font-size: 95%;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
   margin-top: 10px;
}

:host ::ng-deep .justify-content-start {
  justify-content: center !important;
}

:host ::ng-deep .pillsbackground .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #FFFFFF;
  background-color: #ff9149;
}

:host ::ng-deep .pillsborder .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #28d094;
  border: 2px solid #28D094 !important;
  background-color: #FFFFFF;
  font: #28d094;
}

:host ::ng-deep .notifications .nav-pills .nav-link.active {
  color: #7c7f90;
  background-color: #FFFFFF;
}
:host ::ng-deep .table-responsive {
 overflow-y: hidden;
}
:host ::ng-deep .text .dropdown-list .item2 {
  max-height: 87px !important;
}

.box-border{
  border : 1px solid rgba(34,36,38,0.1)
}
.btn-group{
  direction: ltr;
  .btn-action{
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    color : #000 ;
    width: 160px;
  }
  .btn-action:hover{
    background-color : #C0C0C0			;
    border-color: #C0C0C0	
  }
}