
<div class="app-content content "> 
 <div class="content-wrapper">
  <div class="content-header row mb-1"  [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
    <app-breadcrumb class="col-6"  style="text-align: right;"  [breadcrumb]="breadcrumbAr" *ngIf="arabic"></app-breadcrumb>
    <app-breadcrumb class="col-6"  style="text-align: left;"  [breadcrumb]="breadcrumb" *ngIf="!arabic"></app-breadcrumb>
    <div class="col-6"  [ngStyle]="{'text-align': arabic ?  'left': 'right' }">
      <button type="button" class="btn btn-primary mr-1 ml-1" (click)="addNotification(sendModalContent)" *ngIf= "showAdd">
        <i class="la la-plus-circle" aria-hidden="true"  style="font-size:18px;cursor: pointer;"></i>   
        {{ 'discountCode.sendNotification' | translate }}
      </button>
     
      </div>
  </div>

    <div class="content-body" [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">    
      <section class="row">
          <div class="col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <form [formGroup]="search" class="row" style="margin-bottom: 10px;"  [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                      <div class="col-5">
                        <label class="label-control" for="projectinput4" >{{ 'filterOptions.chooseRole' | translate }}</label>
                        <select class="custom-select" formControlName ="role">                       
                          <option selected disabled></option>
                          <option value="">{{ 'filterOptions.all' | translate }}</option>
                          <option value="member">{{ 'filterOptions.member' | translate }}</option>
                          <option value="delivery">{{ 'filterOptions.delivery' | translate }}</option>
                        
                        </select>
                      </div>
                      <div class="col-5">
                        <label class="label-control" for="projectinput4" >{{ 'seachOptions.word' | translate }}</label>
                        <input type="text" id="search" class="form-control" 
                        placeholder="{{ 'seachOptions.word' | translate }}"
                          formControlName="word_filter">
                        <div class="form-control-position"  [ngStyle]="{'left': arabic ?  '10px': '89%' ,
                        'right': arabic ?  '89%': '10px' }">
                          <i class="feather ft-search"></i>
                        </div>                       
                      </div>
                      <div class="col-2">
                        <button type="submit" class="btn btn-primary" [disabled] = "loaderBtn"
                         style="margin-top: 25px;" (click) = "searchBtn()">
                          <i  *ngIf="!loaderBtn"class="la la-check"></i>  
                          <i  *ngIf="loaderBtn" class="la la-spinner spinner"></i>
                          {{'table.search' | translate}}
                        </button>
                      </div>
                    </form>
                    <!-- <div class=" justify-content row" style="margin-bottom: 10px;"  [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                      <div class="col-md-12">
                        <button class="btn btn-secondary buttons-excel buttons-html5" (click)= "exportToExcel()"
                        [disabled]="loaderExport">
                       <i *ngIf="loaderExport" class="la la-spinner spinner"> </i>
                       {{'table.exportToExcel' | translate}}</button>
                       
                      </div>
                 
                    </div> -->
                      <div class="loader-wrapper" *ngIf="loader">
                      <div class="loader-container">
                      <div class="ball-spin-fade-loader loader-blue">
                        <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        <div></div>
                      </div>
                      </div>
                      </div>
                      <div class="table-responsive" *ngIf="!loader">
                        <table class="table mb-0">
                        <thead class="bg-success white" style="background-color: #383838 !important;">
                        <tr [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                          <th scope="col">{{'usersTable.date' | translate}}</th>
                          <th scope="col">{{'usersTable.role' | translate}}</th>
                          <th scope="col"> {{'discountCode.title' | translate}}</th>
                          <th scope="col">{{'discountCode.body' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                        <label *ngIf="!isItems">{{'table.noData' | translate}}</label>
                        <tr *ngFor="let row of result; index as i">
                        <td>
                          {{row.notified_at}}
                        </td>
                        
                        <td>
                          <a *ngIf="row.role == 'Member'">{{ 'filterOptions.member' | translate }}</a> 
                          <a *ngIf="row.role == 'Delivery'"> {{ 'filterOptions.delivery' | translate }}</a>
                          <a *ngIf="row.role == 'Super Admin'"> {{ 'filterOptions.super' | translate }}</a>
                        </td>
                      
                        <td >
                          {{row.title}}
                        </td>
                        <td >
                          {{row.body}}
                        </td>

                        </tr>
                        </tbody>
                        </table>
                        <nav aria-label="Page navigation" *ngIf="isItems">
                          <ul class="pagination justify-content-center pagination-separate pagination-flat">
                            <div class="first">
                            <ngb-pagination [collectionSize]="collectionSize" [maxSize]="10"
                             [(page)]="page"  [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
                            </div> 
                          </ul>
                      </nav>
                        </div>
                    </div>
                </div>   
            </div>
          </div>
      </section>
    </div>   
    </div>    
</div>

<ng-template #sendModalContent let-c="close" let-d="dismiss" class="modal-dialog" >
  <form (ngSubmit)="submit(addForm)" [formGroup]="addForm"  [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }" >
    <div class="modal-content">
    <div class="modal-header" [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
      <h5 class="modal-title" id="exampleModalLabel1">        {{ 'discountCode.sendNotification' | translate }}
      </h5>
   
    </div>
    <div class="modal-body" [ngStyle]="{'text-align': arabic ?  'right': 'left' }" >
      <div class="form-body" >
        <div class="form-group row mx-auto">                                            
            <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
              {{ 'filterOptions.chooseRole' | translate }}</label>
            <div class="col-md-9">
                 <select class="custom-select " 
                  [ngClass]="{ 'is-invalid': submitted && g.role.errors }"  formControlName="role">                        
                    <option selected disabled></option>
                    <option value="Member">{{ 'filterOptions.member' | translate }}</option>
                    <option value="Delivery">{{ 'filterOptions.delivery' | translate }}</option>
                  </select>
             
                <div *ngIf="submitted && g.role.errors" class="invalid-feedback">
                    <div *ngIf="g.role.errors.required">{{'form.required' | translate}}</div>
                </div>
            </div>                            
        </div>                                   
      </div> 
      <div class="form-body" >
        <div class="form-group row mx-auto">                                            
            <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
              {{'discountCode.title' | translate}}</label>
            <div class="col-md-9">
                <input type="text" id="title" class="form-control" formControlName="title"
                [ngClass]="{ 'is-invalid': submitted && g.title.errors }">
                <div *ngIf="submitted && g.title.errors" class="invalid-feedback">
                    <div *ngIf="g.title.errors.required">{{'form.required' | translate}}</div>
                </div>
            </div>                            
        </div>                                   
      </div>
      <div class="form-body" >
        <div class="form-group row mx-auto">                                            
            <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
              {{'discountCode.body' | translate}}</label>
            <div class="col-md-9">
                <textarea type="text" id="body" class="form-control" formControlName="body"
                [ngClass]="{ 'is-invalid': submitted && g.body.errors }" ></textarea>
             
               <div *ngIf="submitted && g.body.errors" class="invalid-feedback">
                   <div *ngIf="g.body.errors.required">{{'form.required' | translate}}</div>
               </div>
            </div>                            
        </div>                                   
      </div>
                            
      </div>
   
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn btn-secondary" (click) = "close(addForm)">{{'extra.close' | translate}}</button>
        <button type="submit"paper id="add-contact-item" class="btn btn-info add-contact-item"  [disabled]="addLoader"><i
            class="la la--plane-o d-lg-none"></i> <span class="d-none d-lg-block">
              <i *ngIf="addLoader" class="la la-spinner spinner"></i>{{'table.sendBtn' | translate}}</span>
        </button>
      </div>
    </div>
    </div>
  </form>
</ng-template>