:host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
  }
  
  :host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
  }
  
  :host ::ng-deep .btn-light:not(:disabled):not(.disabled):active {
    color: unset !important;
    background-color: unset !important;
    border-color: #d3d9df !important;
  }
  
  :host ::ng-deep .btn-light:hover:not(.disabled):active {
    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
  }
  
  :host ::ng-deep .btn-light {
    color: unset !important;
    background-color: unset !important;
    border-color: unset !important;
  }
  
  :host ::ng-deep .bg-primary {
    background-color: #007bff !important;
  }
  
  :host ::ng-deep .text-white {
    color: #fff !important;
  }
  
  :host ::ng-deep .custom-day {
    text-align: center;
    padding: .185rem .25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  
  :host ::ng-deep .custom-day:active {
    color: #6d7183 !important;
   background-color: #fff !important;
   border-block-color: rgb(2, 117, 216) !important;
   
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  :host ::ng-deep .hidden {
    display: block !important;
  }
  
  .ngb-dp-weekday {
    color: #17a2b8;
  }
  
  .ngb-dp-week-number,
  .ngb-dp-weekday {
    line-height: 2rem;
    text-align: center;
    font-style: italic;
  }
  
  .ngb-datepicker-month-view {
    pointer-events: auto;
  }
  
  .small {
    font-size: 80%;
    font-weight: 400;
  }
  
  .ngb-dp-day {
    cursor: pointer !important;
  }
  
  .ngb-dp-month {
    pointer-events: none;
  }
  
  .btn-light:hover {
    color: #212529 !important;
    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
  }
  
  .ngb-datepicker-month-view {
    pointer-events: auto;
  }
  
  .ngb-dp-header {
    border-bottom: 0;
    border-radius: .25rem .25rem 0 0;
    padding-top: .25rem;
  }
  
  .ngb-dp-day,
  .ngb-dp-week-number,
  .ngb-dp-weekday {
    width: 2rem;
    height: 2rem;
  }
  
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  
  .custom-day.range,
  .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  
  :host ::ng-deep .block-ui-wrapper {
    background: rgba(255, 249, 249, 0.5) !important;
  }
  
  /* .profile-pic {
	position: relative;
	display: inline-block;
} */



.edit {
	/* padding-top: 7px;	
	padding-right: 7px; */
	position: absolute;
    /* right: 0; */
    left: 120px;
	top: 105px;
    display: none;

}

.edit a {
	color: rgb(64, 104, 216);
}
/* .edit .la-pencil{
    font-size: 50px;
} */
.profile-pic:hover .edit {
	display: block;
}  

form.striped-rows .form-group:nth-child(even) {
    background-color: #ececec !important; 
}
.label-control{
  text-align: center!important;
}

.soical{
  font-size: 20px;
  border: 3px solid #ff8b22 ;
  padding: 1%;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  color: #ff8b22 !important;
  background-color: white;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 80%;
}
.form-inline a{
  margin: 0 1.5rem 0 0!important
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}