<div class="app-content content ">
  <div class="content-wrapper">
    <div class="content-header row mb-1"  [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
      <app-breadcrumb class="col-6" style="text-align: right;" [breadcrumb]="breadcrumbAr" *ngIf="arabic"></app-breadcrumb>
      <app-breadcrumb class="col-6" style="text-align: left;" [breadcrumb]="breadcrumb" *ngIf="!arabic"></app-breadcrumb>
    </div>
       
    <div class="content-body" [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
        <section class="row">
            <div class="col-12">
                <div class="card">     
                    <div class="loader-wrapper" *ngIf="loader">
                      <div class="loader-container">
                        <div class="ball-spin-fade-loader loader-blue">
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </div>
                    </div>               
                    <div class="card-content" *ngIf="!loader">
                        <div class="card-body" [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
                          
                            <form class="form form-horizontal"  [formGroup]="addForm"   
                            (ngSubmit)="submit()"  [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                            <div class="row" style="margin-bottom: 20px;">
                              <div class="col-6 ">
                                <div class="form form-horizontal part">
                                  <h4 class="form-section"><i class="la la-user"></i>{{ 'manager.detalis' | translate }}</h4>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto">                                            
                                        <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
                                          {{'usersTable.fname' | translate}}</label>
                                        <div class="col-md-9">
                                            <input type="text" id="first_name" class="form-control" formControlName="first_name"
                                            [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }">
                                            <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                                <div *ngIf="f.first_name.errors.required"> {{'form.required' | translate}} </div>
                                            </div>
                                        </div>                            
                                    </div>                             
                                  </div>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto">                                            
                                        <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
                                          {{'usersTable.lname' | translate}}</label>
                                        <div class="col-md-9">
                                            <input type="text" id="last_name" class="form-control" formControlName="last_name"
                                            [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }">
                                            <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                                <div *ngIf="f.last_name.errors.required"> {{'form.required' | translate}} </div>
                                            </div>
                                        </div>                            
                                    </div>                             
                                  </div>
                                  <div class="form-body">
                                    <div class="form-group row mx-auto">
                                      <label class="col-md-3 label-control" for="text_ar" 
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      {{'usersTable.email' | translate}}</label>
                                      <div class="col-md-9" >
                                          <input type="text" id="email" class="form-control" formControlName="email"
                                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                              <div *ngIf="f.email.errors.required">{{'form.required' | translate}} </div>
                                          </div>
                                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors">{{'form.emailValid' | translate}}</div>
                                        </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="form-body">
                                    <div class="form-group row mx-auto">
                                      <label class="col-md-3 label-control" for="text_ar" 
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      {{'usersTable.phone' | translate}}</label>
                                      <div class="col-md-9"  dir="ltr">
                                        <ngx-intl-tel-input   [enableAutoCountrySelect]="true"
                                        [enablePlaceholder]="true" [searchCountryFlag]="true" [onlyCountries]="preferredCountries"
                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                                        [selectedCountryISO]="CountryISO.Kuwait" [maxLength]="'15'"  [phoneValidation]="false"
                                        [separateDialCode]="965" [numberFormat]="PhoneNumberFormat.National" name="phone"
                                        formControlName = "phone" [cssClass]="'form-control phone-it-padding'"
                                        >
                                      </ngx-intl-tel-input>
                                      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">{{'form.required' | translate}}</div>
                                      </div>
                                      <div *ngIf="submitted && f.phone.errors?.pattern" class="invalid-feedback">
                                        <div *ngIf="f.phone.errors?.pattern && arabic"> رقم التلفون غير صالح</div>
                                        <div *ngIf="f.phone.errors?.pattern && !arabic">Phone Not Valid</div>
                                      </div>
                                    </div>
                                      
                                    </div>
                                  </div>
                                  <div class="form-body">
                                    <div class="form-group row mx-auto">
                                      <label class="col-md-3 label-control" for="text_ar" 
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      {{'usersTable.country' | translate}}</label>
                                      <div class="col-md-9" >
                                      
                                          <ng-select [items]="countries" [addTag]="true" bindLabel="full_name" bindValue="id"
                                              formControlName="countryName" 
                                              [ngClass]="{'is-invalid': submitted && f.countryName.errors }"
                                              [(ngModel)]="countryName" (change) = "chooseCity(countryName)"
                                            >
                                            </ng-select>
                                            <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback d-block">
                                              <div *ngIf="f.countryName.errors.required">{{'form.required' | translate}}</div>
                                            </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                                     <div class="form-body">
                                    <div class="form-group row mx-auto">
                                      <label class="col-md-3 label-control" for="text_ar" 
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      {{'usersTable.city' | translate}}</label>
                                      <div class="col-md-9" >
                                      
                                          <ng-select [items]="cities" [addTag]="true" bindLabel="name" bindValue="id"
                                              formControlName="city_id" 
                                              [ngClass]="{'is-invalid': submitted && f.city_id.errors }"
                                              [(ngModel)]="selected_city"
                                            >
                                            </ng-select>
                                            <div *ngIf="submitted && f.city_id.errors" class="invalid-feedback d-block">
                                              <div *ngIf="f.city_id.errors.required">{{'form.required' | translate}}</div>
                                            </div>
                                      </div>
                                      
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              <div class="col-6">
                                <div class="form form-horizontal part">
                                  <h4 class="form-section"><i class="la la-key"></i>{{ 'usersTable.account' | translate }}</h4>
                                  <div class="form-group">
                                    <div class="form-group row mx-auto ">
                                      <label class="col-md-3 label-control" for="projectinput4"
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">{{ 'roles.role' | translate }}</label>
                                      <div class="col-md-9 form-group" [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                        
                                        <select class="custom-select " *ngIf="arabic"  [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }" 
                                        formControlName="role_id" >                                     
                                          <option value="0" selected disabled></option>
                                          <option  *ngFor="let row of roles; index as i" value="{{row.id}}"
                                          >{{row.name_ar}}</option>
                                        </select>
                                        <select class="custom-select " *ngIf="!arabic"  [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }" 
                                        formControlName="role_id" >                                     
                                          <option value="0" selected disabled></option>
                                          <option  *ngFor="let row of roles; index as i" value="{{row.id}}"
                                          >{{row.name_en}}</option>
                                        </select>
                                      <div *ngIf="submitted && f.role_id.errors" class="invalid-feedback d-block">
                                        <div *ngIf="f.role_id.errors.required">{{'form.required' | translate}}</div>
                                      </div>
                          
                                      </div>
                                    </div>
                                  </div>
                             
                                  <div class="form-body">
                                    <div class="form-group row mx-auto">
                                      <label class="col-md-3 label-control" for="text_ar" 
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      {{'usersTable.password' | translate}} </label>
                                      <div class="col-md-9" >
                                          <input type="password" [type]="hide ? 'password' : 'text'" id="password" class="form-control" formControlName="password"
                                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" readonly
                                          onfocus="this.removeAttribute('readonly');">
                                           <div class="form-control-position-2" style="top: 5px;right: 20px;"  *ngIf="!arabic">
                                            <mat-icon (click)="myFunction()" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </div>
                                          <div class="pass-icon"  *ngIf="arabic">
                                            <mat-icon (click)="myFunction()" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                          </div>
                                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                              <div *ngIf="f.password.errors.required">{{'form.required' | translate}} </div>
                                          </div>
                                         
                                      </div>
                                      
                                    </div>
                                  </div>
                               
                                 
                                </div>                      
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6 ">
                                <div class="form form-horizontal part">
                                  <h4 class="form-section"><i class="la la-info"></i>{{ 'usersTable.extra' | translate }}</h4>
                                
                                
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto"  [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                      <label class="col-md-3 label-control" [ngStyle]="{'text-align': arabic ?  'right': 'left' }">
                                        {{'usersTable.image' | translate }}</label>
                                      <div class="col-md-9">
                                        <input type="file" id="file"  name="file" class="inputfile"  (change)="upload($event.target.files)" />
                                        <label class="btn btn-primary" style="cursor: pointer;" for="file"><svg style="    margin: 0px 8px;
                                          " xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                          <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> 
                                          <span style="color: white;">{{ 'table.chooseImage' | translate }}</span></label>
    
                                          <img id="imageReview" style="display: none;" width="300px" height="300px">
    
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>
                           
                              <div class="form-actions">
                               
                                <button type="submit" class="btn btn-primary"  [disabled]="loaderBtn">
                                <i *ngIf="loaderBtn" class="la la-spinner spinner">

                                </i><i *ngIf="!loaderBtn" class="la la-check"></i>   {{'form.saveBtn' | translate}}
                                </button>
                                 <button type="button" class="btn btn-warning mr-1 ml-1" (click)="cancel()">
                                  <i class="feather ft-x"></i>   {{'form.cancelBtn' | translate}}
                                </button>
                              </div>
                            </form>     
                        </div>
                    </div>  
                </div>
            </div>
        </section>
    </div>
  </div>    
</div>
