<div class="app-content content ">
  <div class="content-wrapper">
    <div class="content-header row mb-1"  [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
      <app-breadcrumb class="col-6" style="text-align: right;" [breadcrumb]="breadcrumbAr" *ngIf="arabic"></app-breadcrumb>
      <app-breadcrumb class="col-6" style="text-align: left;" [breadcrumb]="breadcrumb" *ngIf="!arabic"></app-breadcrumb>
    </div>

       
          <div class="content-body" [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }">
              <section class="row">
                  <div class="col-12">
                      <div class="card">
                        <div class="loader-wrapper" *ngIf="loader">
                          <div class="loader-container">
                            <div class="ball-spin-fade-loader loader-blue">
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                            </div>
                          </div>
                        </div>  

                        <div class="card-content"  *ngIf="!loader">
                            <div class="card-body">
                                <form class="form form-horizontal" [formGroup]="addForm"  [ngStyle]="{'direction': arabic ?  'rtl': 'ltr' }"
                                (ngSubmit)="submit()" >
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto">                                            
                                        <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
                                          {{'review.title' | translate}}</label>
                                        <div class="col-md-9">
                                            <input type="text" id="title" class="form-control" formControlName="title"
                                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                <div *ngIf="f.title.errors.required">{{'form.required' | translate}}</div>
                                            </div>
                                        </div>                            
                                    </div>                                   
                                  </div>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto">                                            
                                        <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
                                          {{'review.comment' | translate}}</label>
                                        <div class="col-md-9">
                                          <textarea id="comment" class="form-control" formControlName="comment"
                                          [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
                                          <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                                              <div *ngIf="f.comment.errors.required">{{'form.required' | translate}}</div>
                                          </div>
                                        </div>                            
                                    </div>                                   
                                  </div>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto">                                            
                                        <label class="col-md-3 label-control" for="category" [ngStyle]="{'text-align': arabic ?  'right': 'left' }"> 
                                          {{'review.rating' | translate }}</label>
                                        <div class="col-md-9">
                                          <bar-rating [(ngModel)]="rate" [max]="max"  [readOnly]="isReadonly"
                                          on-hover="hoveringOver($event)"  on-leave="resetStar()"
                                          [titles]="['Star 1','Star 2','Star 3','Star 4','Star 5']"  [ngModelOptions]="{standalone: true}">  </bar-rating>
                                     </div>                            
                                    </div>                                   
                                  </div>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto ">
                                      <label class="col-md-3 label-control" for="projectinput4"
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">{{'review.product' | translate}}</label>
                                      <div class="col-md-9">
                                        <select class="custom-select " *ngIf="arabic"  [ngClass]="{ 'is-invalid': submitted && f.product_id.errors }" 
                                        formControlName="product_id" >                                     
                                          <option value="0" selected disabled></option>
                                          <option  *ngFor="let row of products; index as i" value="{{row.id}}"
                                          >{{row.name_ar}}</option>
                                        
                                        </select>
                                        <select class="custom-select " *ngIf="!arabic"  [ngClass]="{ 'is-invalid': submitted && f.product_id.errors }" 
                                        formControlName="product_id" >                                     
                                          <option value="0" selected disabled></option>
                                          <option  *ngFor="let row of products; index as i" value="{{row.id}}"
                                          >{{row.name_en}}</option>
                                        
                                        </select>
                                        <div *ngIf="submitted && f.product_id.errors" class="invalid-feedback">
                                          <div *ngIf="f.product_id.errors.required">{{'form.required' | translate}}</div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-body" >
                                    <div class="form-group row mx-auto ">
                                      <label class="col-md-3 label-control" for="projectinput4"
                                      [ngStyle]="{'text-align': arabic ?  'right': 'left' }">{{'review.user' | translate}}</label>
                                      <div class="col-md-9">
                                        <select class="custom-select "   [ngClass]="{ 'is-invalid': submitted && f.product_id.errors }" 
                                        formControlName="user_id" >                                     
                                          <option value="0" selected disabled></option>
                                          <option  *ngFor="let row of users; index as i" value="{{row.id}}"
                                          >{{row.full_name}}</option>
                                        
                                        </select>
                                       
                                        <div *ngIf="submitted && f.user_id.errors" class="invalid-feedback">
                                          <div *ngIf="f.user_id.errors.required">{{'form.required' | translate}}</div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-actions">
                                    <button type="button" class="btn btn-warning mr-1 ml-1" (click)="cancel()">
                                      <i class="feather ft-x"></i>   {{'form.cancelBtn' | translate}}
                                    </button>
                                    <button type="submit" class="btn btn-primary"  [disabled]="loaderBtn">
                                    <i *ngIf="loaderBtn" class="la la-spinner spinner">

                                    </i><i *ngIf="!loaderBtn" class="la la-check"></i>   {{'form.saveBtn' | translate}}
                                    </button>
                                  </div>
                                </form>     
                            </div>
                        </div>  
                      </div>
                  </div>
              </section>
          </div>
        </div>    
</div>
